// 共通
html {
    font-size: 62.5%;
    line-height: 1.5;
}
body {
    max-width: 600px;
    margin: 0 auto;
    font-family: "hakobera_bold";
    overflow-x: hidden;
}
img {
    width: 100%;
}
.relative {
    position: relative;
}
.row_reverse {
    flex-direction: row-reverse;
}

// 共通パターン
.white_with_black_flame {
    color: #fff;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #3b3b3b;
}
.contact_button {
    width: 96vw;
    padding-left: 4vw;
    display: block;
    :hover {
        transition-duration: 0.4s;
        transform: translateY(4px);
        opacity: 0.9;
    }
}

// フォント読み込み
@font-face {
    font-family: "hakobera_regular";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-Regular.ttf")
        format("truetype");
}
@font-face {
    font-family: "hakobera_bold";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-Bold.ttf")
        format("truetype");
}
@font-face {
    font-family: "hakobera_extra_bold";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-ExtraBold.ttf")
        format("truetype");
}

$blue: #89c3eb;

// TOP
.top {
    background-color: $blue;
    &_img {
        position: relative;
        &-shovel {
            position: absolute;
            left: 0;
            width: 90vw;
            top: 2.5%;
        }
        .circle1 {
            position: absolute;
            bottom: 21%;
            right: -1vw;
            width: 51.5vw;
        }
        .circle2 {
            position: absolute;
            bottom: 11%;
            left: 1vw;
            width: 51.5vw;
        }
        .circle3 {
            position: absolute;
            bottom: 0;
            right: 2vw;
            width: 51.5vw;
        }
    }
    &_subttl {
        position: absolute;
        top: 49%;
        left: 4%;
        color: white;
        opacity: 0.8;
        font-size: 7.5vw;
        font-family: "hakobera_regular";
        line-height: 1.8;
    }
    &_circle {
        aspect-ratio: 1 / 1;
        &-text {
            font-family: "hakobera_regular";
            font-size: 5.7vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }
    &_circle-img {
        width: 100%;
    }
}

// consultation
.consultation {
    background-color: $blue;
    border-radius: 0 0 5vw 5vw;
    position: relative;
    &_button {
        position: absolute;
        top: -13%;
        z-index: 10;
    }
    &_textarea {
        padding-top: 60vw;
        margin-top: -0.3rem;
        position: relative;
    }
    &_img {
        width: 30vw;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &_text {
        text-align: center;
        font-family: "hakobera_bold";
        font-size: 5vw;
        padding-bottom: 12vw;
        color: #fff;
    }
}

// concern
.concern {
    background-image: url("../image/mobile/concern/concerns_bg.png");
    background-size: cover;
    margin-top: -17%;
    padding-bottom: 28%;
    &_area {
        width: 30%;
        position: relative;
    }
    .area1 {
        padding-top: 7rem;
    }
    .area2 {
        left: 40vw;
    }
    &_text {
        width: 200%;
    }
    &_person {
        position: absolute;
        top: 71%;
        left: 24vw;
    }
}

// qualities
.qualities {
    background-image: url("../image/mobile/qualities/qualities_bg.png");
    padding-bottom: 4%;
    &_top {
        position: relative;
        margin-bottom: 3%;
        &-subtitle {
            position: absolute;
            top: 0;
            text-align: center;
            width: 100%;
            font-family: "hakobera_bold";
            color: #fff;
            font-size: 5vw;
            padding-top: 3%;
        }
        &-title {
            position: absolute;
            top: 38%;
            text-align: center;
            width: 100%;
            font-family: "hakobera_extra_bold";
            font-size: 7vw;
            padding-top: 3%;
            line-height: 1.3;
        }
    }
    &_contents {
        margin-right: 5vw;
        margin-left: 5vw;
    }
    &_content {
        background-color: #fff;
        border: #282828 0.1rem solid;
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
        padding: 3% 5vw;
        &-text {
            width: 64%;
            text-align: center;
            font-family: "hakobera_bold";
            font-size: 5vw;
            color: $blue;
            line-height: 1.3;
        }
        &-img {
            width: 30%;
        }
    }
}

// reason
.reason {
    position: relative;
    &_top {
        position: relative;
        &-heading {
            text-align: center;
            padding-top: 7%;
            font-family: "hakobera_bold";
            line-height: 1.2;
        }
        &-white {
            font-size: 10vw;
        }
        &-small {
            color: $blue;
            font-size: 4vw;
        }
        &-large {
            color: $blue;
            font-size: 8vw;
        }
    }
    &_borderLine {
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        bottom: -10%;
    }
    &_background {
        position: absolute;
        z-index: -1;
        top: 0;
    }
    &_scroll {
        position: absolute;
        width: 40vw;
        left: 5vw;
        &-text {
            text-align: center;
            font-family: "hakobera_regular";
            line-height: 1.8;
        }
    }
    &_table {
        width: 95%;
        overflow-x: scroll;
        padding-left: 5vw;
        padding-top: 5%;
        position: relative;
        &-img {
            width: 170vw;
        }
    }
    &_button {
        margin-top: 5%;
        display: block;
    }
    &_background-bottom {
        position: absolute;
        transform: scale(1, -1);
        z-index: -1;
        bottom: 0;
    }
}

// スクロールヒント
#reason_finger {
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

@keyframes animation {
    0%,
    100% {
        transform: translateX(-3rem);
    }
    50% {
        transform: translateX(3rem);
    }
}

// サポート
.support {
    background-image: url("../image/pc/support/bg_white_dot.png");

    &_top {
        background-image: url("../image/mobile/support/support_bg.png");
        text-align: center;
        padding: 5% 5vw 8%;
    }
    &_heading {
        font-family: "hakobera_extra_bold";
        position: relative;
        &-large {
            font-size: 10vw;
        }
        &-small {
            color: #fff;
            font-size: 4vw;
            line-height: 1.5;
        }
        &-middle {
            font-size: 5.5vw;
        }
        &-leftimage {
            position: absolute;
            width: 10vw;
            bottom: -10%;
            left: 0;
        }
        &-rightimage {
            position: absolute;
            width: 10vw;
            bottom: -10%;
        }
    }
    &_contents {
        // background-image: url("../image/pc/support/bg_white_dot.png");
        background-size: cover;
        padding: 0 5vw 5%;
    }
    &_content {
        background-color: #fff;
        border: rgba(217, 217, 217, 0.3) solid 0.05rem;
        position: relative;
        padding: 0 3vw 3%;
        margin-top: 8.5rem;
        font-size: 1.6rem;
        &-flex {
            display: flex;
            position: absolute;
            top: -35%;
            width: 100%;
        }
        &-img {
            width: 30%;
        }
        &-text {
            padding-top: 17%;
            font-family: "hakobera_regular";
            letter-spacing: 0.15rem;
            color: #3b3b3b;
        }
    }
}

// 受講生の声
.student {
    padding-bottom: 10%;
    &_top {
        position: relative;
        padding-top: 22%;
        &-flagsImg {
            position: absolute;
            z-index: -1;
            top: -56%;
        }
        &-text {
            font-family: "hakobera_extra_bold";
            text-align: center;
            line-height: 1.5;
        }
        &-megaphone {
            width: 14vw;
            position: absolute;
            right: 17vw;
            bottom: -5%;
        }
    }
    &_contents {
        width: 90vw;
        margin: 3rem auto 0;
    }
    &_content {
        margin-bottom: 1rem;
        &-heading {
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 100%;
        }
        &-leftside {
            background-color: $blue;
            width: 65%;
            border-radius: 1rem;
            padding: 3vw 0;
        }
        &-rightside {
            width: 30%;
        }
        &-name {
            color: #fff;
            font-family: "hakobera_bold";
            font-size: 3vw;
            line-height: 1;
            text-align: center;
        }
        &-nameSmall {
            color: #fff;
            text-align: center;
            font-size: 2.5vw;
            line-height: 1;
            padding-top: 0.5rem;
        }
        &-textarea {
            border: #b7afa5 0.1rem solid;
            border-radius: 1rem;
            margin-top: 1rem;
            padding: 2rem 5vw 1rem;
            color: #3b3b3b;
            line-height: 1.8;
        }
        &-headingText {
            text-align: center;
            font-size: 3vw;
        }
        &-text {
            font-family: "hakobera_regular";
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-size: 1.4rem;
        }
    }
}

// 講師のご紹介
.coach {
    padding-bottom: 4%;
    &_heading {
        position: relative;
        padding-top: 5%;
        padding-bottom: 3%;
        &-img {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 100vw;
        }
        &-whiteText {
            color: #fff;
            text-align: center;
            font-size: 10vw;
            font-family: "hakobera_extra_bold";
        }
        &-text {
            font-size: 10vw;
            text-align: center;
            padding-top: 3%;
            font-family: "hakobera_extra_bold";
        }
        &-coachPhoto {
            width: 70vw;
            margin: 0 auto;
            display: block;
        }
        &-coachName {
            font-size: 2rem;
            text-align: center;
            color: #284877;
        }
    }
    &_textarea {
        background-color: #89c3eb;

        &-heading {
            color: #284877;
            font-family: "hakobera_extra_bold";
            font-size: 5vw;
            line-height: 1.2;
            text-align: center;
            padding-top: 2.4rem;
        }
    }
    &_text {
        color: #fff;
        font-family: "hakobera_regular";
        font-size: 3.5vw;
        line-height: 1.5;
        text-align: justify;
        padding-top: 2.4rem;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 4.2rem;
    }
}

// 特別なコンテンツ
.special {
    background-color: #89c3eb;
    margin-top: -5%;
    padding-bottom: 40%;
    &_heading {
        img {
            width: 86%;
            margin: 0 auto;
            display: block;
        }
    }
    &_contents {
        margin-top: 8%;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    &_content {
        margin-top: -6%;
        &-heading {
            display: inline-block;
            color: #fff;
            background-color: #d74545;
            font-family: "hakobera_bold";
            font-size: 5.4vw;
            padding: 2.4vw 9vw;
            margin-bottom: 0px;
            border-radius: 16px 16px 0 0;
            box-shadow: 5px 0px 0px 0px rgba(128, 128, 128, 0.5);
        }
    }
    &_point {
        padding: 10px 0px;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.5);
        background-color: white;

        &-top {
            width: 60%;
            background-color: rgb(32, 182, 32);
            padding: 2vw 5vw;
            margin-top: 2vw;
            border-radius: 10px;
            display: flex;
            justify-content: center;
        }
        &-heading {
            color: #fff;
            font-size: 4vw;
            line-height: 1.5;
            font-family: "hakobera_bold";
            margin-top: 0px;
            margin-bottom: 0px;
        }
        &-text {
            font-size: 4.5vw;
            font-family: "hakobera_bold";
            line-height: 1.2;
            padding-top: 0.7rem;
        }
        &-img {
            margin: 0 auto;
            padding-bottom: 7%;
            width: 100%;
        }

        &-img2 {
            margin-top: 3%;
            margin-bottom: 35%;
            width: 70%;
        }
    }
    &_button {
        margin-top: -36%;
    }
}

.copyright {
    text-align: center;
    font-size: clamp(9px, 3.5vw, 15px);
    color: #fff;
    font-family: "hakobera_regular";
    width: 100%;
}
