

// フォント読み込み
@font-face {
    font-family: "hakobera_regular";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-Regular.ttf")
        format("truetype");
}
@font-face {
    font-family: "hakobera_bold";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-Bold.ttf")
        format("truetype");
}
@font-face {
    font-family: "hakobera_extra_bold";
    src: url("../font/HakoberaMaruGothicA/HakoberaMaruGothicA/HakoberaMaruGothicA-ExtraBold.ttf")
        format("truetype");
}


//　共通

$background-width: 100%;
$background-position: relative;

body {
    background-color: rgba(137, 195, 235, 0.7);
}

.body_container {
    background-color: white;
    max-width: 1050px;
    min-width: 850px;
    margin: 0 auto;
}

.line_btn{
    :hover {
        transition-duration: 0.4s;
        transform: translateY(4px);
        opacity: 0.9; 
    }
}

//---- top ----
.top_background {
    position: $background-position;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.top_ttl {
    position: absolute;
    top: 0;
    left: 10%;
    width: 35%;
    img {
        width: 100%;
    }
}

.top_subttl{
    position: absolute;
    top: 43%;
    left: 15%;
    color: white;
    font-size: clamp(23px, 2.5vw, 28px);
    font-family: "hakobera_regular";
}


.top_block {
    position: absolute;
    top: 60%;
    left: 3%;
    width: 100%;
    display: flex;
}

.top_contents {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    width: 22%;
    img {
        width: 100%;
    }
}

.contents_word {
    font-size: clamp(17px, 2.0vw, 21px);
    font-family: "hakobera_regular";
    position: absolute;
    top: 18%;
    text-align: center;
    line-height: 1.3;
}

.top_linebtn {
    display: inline-block;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 25%;
    z-index: 1;
    transform: translate(0, -50%);
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

//  ----concerns----

.concerns_background {
    background-image: url('/image/pc/concerns/concerns_bg.png');
    background-size: cover; /* 画像がdivの全面を覆うようにします */
    background-position: center; /* 画像がdivの中央に位置するようにします */
    background-repeat: no-repeat; /* 画像が繰り返し表示されないようにします */
    padding-top:24px;
}


.question {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    text-align: center;
    width: 65%;
    z-index: 1;
    background-color: #89c3eb;
    h2 {
        color: white;
        font-size: 28px;
        font-family: "hakobera_extra_bold";
        -webkit-text-stroke: 0.8px black;
        line-height: 1.5;
        vertical-align: bottom;
    }
}




.concerns_case {
    display: flex;
    flex-direction: column;
    align-items: center; /* 子要素を垂直方向の中央に揃える */
    justify-content: center; /* 子要素を水平方向の中央に揃える（必要に応じて） */
    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.concern1 {
    display: flex;
    flex-direction: column;
    transform: translate(-100%, 0);
    width: 22%; 
}

.concern1_bubble {
    width: 161%;
}

.concern1_human {
    transform: translate(50%, 0);
    margin-top:-60%
}

.concern2 {
    display: flex;
    flex-direction: column;
    transform: translate(75%, 0);
    width: 18%; 
    margin-top: -28%;
}

.concern2_bubble {
    width: 200%;
}

.concern2_human {
    transform: translate(23%, 0);
    margin-top:-60%
}

.concern3 {
    display: flex;
    flex-direction: column;
    transform: translate(-172%, 0);
    width: 18%;
    margin-top: -18%;
}

.concern3_bubble {
    width: 194%;
}

.concern3_human {
    transform: translate(75%, 0);
    margin-top:-80%;
}

// -----qualities-----

.qualities_title {
    position: $background-position;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.qualities_message {
    position: absolute;
    top: 14%;
    width: 36%;
    z-index: 1;
    transform: translate(0, -50%);
}

.need_skill {
    display: flex;
    position: absolute;
    top: 42%;
    margin-left: 3%;
    margin-right: 3%;
}

.skill_contents {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 10px;
    img {
        width: 90%;
        vertical-align: bottom;
    }
}

.skill_word {
    font-size: clamp(16px, 2.0vw, 21px);
    font-family: "hakobera_bold";
    position: absolute;
    bottom: 8%;
    text-align: center;
    color: #89c3eb;
    line-height: 1.4;
    font-weight: bold;
}

// -----support-----

.support_title {
    margin-top: -10px;
    position: relative;
    img {
        width: $background-width;
        vertical-align: bottom;
    }
}

.support_bg {
    position: $background-position;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.support_contents {
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 42px;
    img {
        width: 80%;
        vertical-align: bottom;
    }
}

.support_btn {
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    z-index: 1;
    img {
        width: 58%;
        vertical-align: bottom;
    }
}

// -----reason-----

.reason_background {
    position: $background-position;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.reason_human1 {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    z-index: 1;
    img {
        width: 50%;
        vertical-align: bottom;
    }
}

.reason_human1 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 30%;
    z-index: 1;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.reason_human2 {
    position: absolute;
    top: 10%;
    right: 0;
    width: 25%;
    z-index: 1;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.reason_comparison {
    position: absolute;
    top: 23%;
    text-align: center;
    width: 100%;
    img {
        width: 90%;
        vertical-align: bottom;
    }
}

.reason_btn {
    position: absolute;
    top: 81%;
    text-align: center;
    width: 100%;
    z-index: 1;
    img {
        width: 60%;
        vertical-align: bottom;
    }
}

// ----stu----

.stu_bg {
    position: $background-position;
    margin-top: -5px;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.stu {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
}

.stu_contents {
    display: flex;
    align-items: center; /* 子要素を垂直方向の中央に揃える */
    justify-content: center; 
    width: 100%;
    text-align: center;
}

.stu_bubble1 {
    width: 48%;
    margin-right: 2%;
    position: relative;
}

.stu_bubble2 {
    width: 48%;
    margin-left: 2%;
    position: relative;
}

.stu_comment {
    display: flex;
    top: -4px;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center; /* 子要素を垂直方向の中央に揃える */
    justify-content: center;
}

.stu_comment p {
    width: 70%;
    line-height: 1.2;
    font-size: clamp(11.5px, 1.2vw, 13px);
    font-family: "hakobera_regular";
}

.stu_human {
    width: 22%;
    position: relative;
    top: 72px;
}

.blue_box1 {
    position: absolute;
    width: 90%;
    background-color: #89c3eb;
    padding: 15px 10px;
    margin: -30px auto;
    border-radius: 10px;
    left: 0;
    right: 0;
}

.blue_box2 {
    position: absolute;
    width: 90%;
    background-color: #89c3eb;
    padding: 15px 5px;
    margin: -52px auto;
    border-radius: 10px;
    left: 0;
    right: 0;
}

.blue_box3 {
    position: absolute;
    width: 95%;
    background-color: #89c3eb;
    padding: 15px 10px;
    margin: -52px auto;
    border-radius: 10px;
    left: 0;
    right: 0;
}

.white_txt {
    color: white;
    font-size: clamp(10px, 1.0vw, 13px);
    font-family: "hakobera_bold";
    line-height: 1.2;
    letter-spacing: 1.5px;
}

.white_txt2 {
    color: white;
    font-size: clamp(10px, 1.0vw, 13px);
    font-family: "hakobera_bold";
    line-height: 1.2;
    letter-spacing: 1.5px;
}

// ----inst----

.inst_bg {
    position: relative;
    width: 100%;
    img {
        position: relative;
        width: 100%;
        vertical-align: bottom;
        z-index: 2;
    }
}

.inst_human {
    position: absolute;
    top: 14%;
    right: 0;
    width: 34%;
    z-index: 3;
}

.inst_contents{
    position: absolute;
    top: 19%;
    left: 9%;
    width: 90%;
    z-index: 1;


}

// ----contents----

.contents_bg {
    position: relative;
    margin-top: -162px;
    z-index: 2;
    img {
        width: 100%;
        vertical-align: bottom;
    }
}

.contents_point {
    position: absolute;
    width: 100%;
    top: 20%;
}

.contents_row1 {
    display: flex;
    align-items: center;
    justify-content: center;

    .point_heading {
        display: inline-block;
        color: white;
        background-color: skyblue;
        padding: 7px 18px;
        margin-left: 10px;
        margin-bottom: 0px;
        border-radius: 10px 10px 0 0;
        box-shadow: 2px 0px 0px 0px rgba(128, 128, 128, 0.5);
    }
    .black_box1 {
        position: relative;
        height: 250px;
        aspect-ratio: 3.5/ 4;
        padding: 10px 0px;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.5);
        background-color: white;
    }

    .black_box2 {
        position: relative;
        height: 250px;
        aspect-ratio: 3.8/ 4;
        padding: 10px 0px;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.5);
        background-color: white;
    }

    .green_box1 {
        width: 60%;
        aspect-ratio: 3/1;
        line-height: 1.5;
        background-color: rgb(32, 182, 32);
        padding: 5px 20px;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .green_box2 {
        width: 60%;
        aspect-ratio: 3/1;
        line-height: 1.5;
        background-color: rgb(32, 182, 32);
        padding: 5px 20px;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .white_text {
        color: white;
        font-size: 0.9rem;
        font-family: "hakobera_bold";
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .black_text {
        font-size: 1rem;
        font-family: "hakobera_bold";
        line-height: 1.5;
        padding-top: 0.7rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .small-text {
        font-size: 10px;
        font-family: "hakobera_regular";
        letter-spacing: -3px;
    }

    .img_box {
        position: absolute;
        margin: 0 auto;
        padding-bottom: 7%;
        bottom: 0;
        img {
            width: 55%;
            vertical-align: bottom;
        }
    }
}

.contents_row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    .point_heading {
        display: inline-block;
        color: white;
        background-color: skyblue;
        padding: 7px 18px;
        margin-left: 10px;
        margin-bottom: 0px;
        border-radius: 10px 10px 0 0;
        box-shadow: 2px 0px 0px 0px rgba(128, 128, 128, 0.5);
    }
    .black_box3 {
        position: relative;
        height: 300px;
        aspect-ratio: 4.5/ 4;
        padding: 20px 0px;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.5);
        background-color: white;
    }

    .black_box4 {
        position: relative;
        height: 310px;
        aspect-ratio: 4.7/ 4;
        padding: 15px 0px;
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 0px 0px rgba(128, 128, 128, 0.5);
        background-color: white;
    }

    .green_box3 {
        width: 65%;
        aspect-ratio: 3.5/1;
        line-height: 1.5;
        background-color: rgb(32, 182, 32);
        padding: 5px 20px;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .white_text {
        color: white;
        font-size: 1rem;
        font-family: "hakobera_bold";
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .black_text {
        font-family: "hakobera_bold";
        font-size: 1.2rem;
        line-height: 1.5;
        padding-top: 2.4rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .img_box {
        position: absolute;
        margin: 0 auto;
        img {
            width: 72%;
            vertical-align: bottom;
        }
    }
}

.contents_line {
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    img {
        width: 55%;
        vertical-align: bottom;
    }
}

.copyright{
    position: absolute;
    bottom: 8%;
    text-align: center;
    font-size: clamp(16px, 2.0vw, 18px);
    color: white;
    font-family: "hakobera_regular";
    width: 100%;
}