$background-width:100%;
$background-position:relative;

//---- top ----
.top_background {
position:$background-position;
img{
  width: 100%;
  vertical-align: bottom;
}
}

.line-btn {
  display: inline-block;
  position: absolute; 
  top: 100%; 
  right: 5%; 
  width: 25%;
  z-index: 1; 
  transform: translate(0, -50%); 
  img{
    display: block;
    width: 100%;
  }
}

// ----concerns----

.concerns_background {
  position:$background-position;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}



.question{
  position: absolute;
  top: 3%; 
  left: 0; 
  width: 100%;
  z-index: 1;
  img{
    width: 65%;
  } 
}

.concerns-case{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}

.concern_1{
  transform: translate(30%, 0);
  display: inline-block;
  width:35%;
}

.concern_2{
  transform: translate(48%, 60%); 
  display: inline-block;
  width: 40%;
}

.concern_3{
  transform: translate(40%, 0);
  display: inline-block; 
  width: 35%;
}

// -----qualities-----

.qualities_background{
  position:$background-position;
  img{
    width: 100%;
    vertical-align: bottom;
  }
  }

.qualities_message{
  position: absolute;
  top: 14%;
  width: 36%;
  z-index: 1; 
  transform: translate(0, -50%); 
}

.need_skill{
  position: absolute;
  top:42%;
  display: flex;
  margin-left:7%;
  margin-right:7%;  
}

.support{
  display: flex;
  justify-content: center;
  margin:0 10px;
  img{
    width: 90%;
  }
}

// -----support-----

.support_title{
  position: relative;
  img{
    width: $background-width;
  }
}

.support_contents{
  text-align: center;
  margin-top:42px;

  img{
    width: 80%;
  }
}

.support_btn{
  text-align: center;
  margin-top: 23px;
  margin-bottom: 23px;
  img{
    width: 58%;
  }
}


// ----reason----

.reason_background {
  position:$background-position;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}

.reason_human1{
  position: absolute;
  top: 3%; 
  left: 0; 
  width: 100%;
  z-index: 1;
  img{
    width: 50%;
  } 
}

.reason_human1{
  position: absolute;
  top: 10%; 
  left: 0; 
  width: 30%;
  z-index: 1;
  img{
    width: 100%;
  } 
}

.reason_human2{
  position: absolute;
  top: 10%; 
  right: 0; 
  width: 25%;
  z-index: 1;
  img{
    width: 100%;
  } 
}


.reason_comparison{
  position: absolute;
  top: 23%; 
  text-align: center;
  width: 100%;
  img{
    width: 90%;
  } 
}

.reason_btn{
  position: absolute;
  top: 81%; 
  text-align: center;
  width: 100%;
  z-index: 1;
  img{
    width: 60%;
  } 
}

// ----stu----

.stu_background {
  position:$background-position;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}

.stu_human{
  position: absolute;
  top:15%
}

.stu_human1{
  width: 100%;
  text-align: center;
  img{
    width: 75%;
  } 
}

.stu_human2{
  width: 100%;
  text-align: center;
  img{
    width: 75%;
  } 
}

.stu_human3{
  width: 100%;
  text-align: center;
  img{
    width: 75%;
  } 
}

// ----teacher----

#teacher {
  position:$background-position;
  img{
    width: 100%;
    vertical-align: bottom;
  }
}





