$background-width:100%;

// ----全体----
.background{
  position: relative;
  img{
    width: $background-width;
    margin-top:-24px //背景間に隙間できる分
  }
}

@media screen and (max-width:1280px) {
  .background{
    width: 1280px;
    overflow: hidden; 
  }

}


//---- top ----
#top{
  margin-top: 24px;

}

.line-btn {
  display: inline-block;
  position: absolute; 
  top: 100%; 
  right: 5%; 
  width: 25%;
  z-index: 1; 
  transform: translate(0, -50%); 
  img{
    display: block;
    width: 100%;
  }
}

// ----concerns----

.question{
  position: absolute;
  top: 3%; 
  left: 0; 
  width: 50%;
  z-index: 1; 
}

.concerns-case{
  position: absolute;
  top: 14%;
  right: 50%;
  z-index: 1;
  width: 30%;
  img{
    width: 113%;

  }
}

.concern_1{
  transform: translate(0, 0); 
}

.concern_2{
  transform: translate(125%, -50%); 
}

.concern_3{
  transform: translate(0, -75%); 
}

// -----qualities-----

.qualities_title{
  position: relative;
  img{
    width: $background-width;
    margin-top:-18px; //背景間に隙間できる分
  }
}

.qualities_message{
  position: absolute;
  top: 14%;
  width: 36%;
  z-index: 1; 
  transform: translate(0, -50%); 
}

.need_skill{
  display: flex;
  margin-top:24px;
  margin-left:7%;
  margin-right:7%;  
}

.support{
  display: flex;
  justify-content: center;
  margin:0 10px;
  img{
    width: 90%;
  }
}

// -----support-----

.support_title{
  position: relative;
  img{
    width: $background-width;
    margin-top:68px;
  }
}

.support_contents{
  text-align: center;
  margin-top:42px;

  img{
    width: 80%;
  }
}

.support_btn{
  text-align: center;
  margin-top: 42px;
  img{
    width: 48%;
  }
}








